.contacts   
    a.contact(href='tel:+380508642732')
        i.fa-solid.fa-mobile-screen-button(aria-hidden='true')
        span.contact_text 050-864-27-32
    a.contact(href='mailto:pavel.rogovoj@gmail.com')
        i.fa-solid.fa-envelope(aria-hidden='true')
        span.contact_text info.business@com
    a.facebook-icon(href='facebook.com')
        i.fa-brands.fa-facebook-f(aria-hidden='true')