.nav {
    display       : inline-block;
    vertical-align: top;
    margin-right  : 15px;

    &_link {
        display        : inline-block;
        font-family    : $ff-main;
        font-weight    : $ff-weight-bold;
        color          : $color-gray;
        text-decoration: none;
        text-transform : capitalize;
        vertical-align : top;
        padding        : 10px;
        transition     : 0.3s;

        &:hover,
        &-active {
            color: $color-red;
        }

        &::after {
            content       : "";
            display       : inline-block;
            border-radius : 50%;
            background    : $color-gray;
            vertical-align: middle;
            width         : 5px;
            height        : 5px;
            margin-left   : 15px;
        }

        &:last-child::after {
            display: none;
        }
    }
}