.work {
    background: $color-red;
    color     : $color-white;
    padding   : 110px;

    .title_with-bottom-line {
        &::after {
            background: $color-white;
        }
    }

    &_list {
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        padding              : 0;
    }

    &_picture {
        height: $height;
    }

    &_item {
        background : #f35e59;
        font-weight: $ff-weight-regular;
        color      : $color-white;

        &:nth-child(5) {
            order: 1;
        }

        &-name {
            position  : relative;
            padding   : 0 40px 75px;
            text-align: center;

            &::before {
                @include centerer-x();
            }
        }
    }

    &_name {
        font-size: 1.625rem;
    }

    &_name,
    &_description {
        margin-top: -50px;
    }
}