*,
*::before,
*::after {
    box-sizing: inherit;
}
ul,
ol {
    list-style: none;
}
.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
html {
    box-sizing: border-box;
}
body {
    font-family: helvetica;
    font-weight: 400;
    line-height: 1.2;
}
