.button {
    display: inline-block;
    border-radius: 3px;
    color: $color-white;
    text-decoration: none;
    padding: 10px 22px 7px;

    &-red {
        background: $color-red;
        transition: 0.3s;

        &:hover {
            background: lighten($color: $color-red, $amount: 7);
        }
    }
    &-yellow {
        background: $color-yellow;
        &:hover {
            background: lighten($color: $color-yellow, $amount: 7);
        }
    }
    &-text-uppercase {
        text-transform: uppercase;
    }
}
