//font-family
$ff-steps: georgia;
$ff-main: helvetica;
$ff-awesome: fontawesome;

//font-weight
$ff-weight-light: 200;
$ff-weight-regular: 400;
$ff-weight-bold: 700;

//colors
$color-red: #de2b24;
$color-yellow: #f8cd53;
$color-gray: #424242;
$color-border: #e2e2e2;
$color-white: #ffffff;

//icons
$book: url(../img/icons/book.png) center no-repeat;
$like: url(../img/icons/like.png) center no-repeat;
$message: url(../img/icons/message.png) center no-repeat;
$work-items: url(../img/icons/work-items.png) center no-repeat;

//width & height
$width: 100%;
$height: 100%;
$width_px: 10px;
$height_px: 10px;
