doctype html 
html 
    include html/head 
    head 
        title Главная 
    body 
        include html/header 
        include html/hero 
        include html/about 
        include html/approach 
        include html/work 
        include html/form 
        include html/footer 
        include html/script 